body {
    margin: 0;
    padding: 0;
    font-family: Creepster, Montserrat, Helvetica, sans-serif;
    color: #f4f0f8;
    background-color: #f4f0f8;
    letter-spacing: 6px;
  }

.full {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    width: 70vw;
    height: 95vh;
    min-width: 750px;
    min-height: 600px;
}

.screen-view {
    margin-top: 15px;
    height: 80%;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);
    position: relative;
}
.controller-view {
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 20%;
    border-top: 4px solid #9e7bc3;
    position: relative;
}

.ghostImage {
    width: 140px;
    margin-top: 40px;
}

/* -------------------LOGIN SCREEN------------------ */
h1 {
    letter-spacing: 12px;
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.buttonBlock {
    text-align: center;
}
.buttonBlock button {
    width: 230px;
    background-color: #f4f0f8;
    border: none;
    color: #41295a;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.version {
    position: absolute;
    letter-spacing: 6px;
    font-size: 15px;
    bottom: 8px;
    right: 16px;
    font-family: Montserrat, Helvetica;
}
.roomkey {
    position: absolute;
    letter-spacing: 6px;
    font-size: 15px;
    top: 8px;
    right: 16px;
    font-family: Montserrat, Helvetica;
}
.leave {
    position: absolute;
    letter-spacing: 6px;
    font-size: 15px;
    bottom: 16px;
    left: 16px;
}
.backButton {
    position: absolute;
    letter-spacing: 6px;
    font-size: 15px;
    top: 20px;
    left: 20px;
}

.login-view h5 {
    font-size: 14px;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.createScreen h3 {
    letter-spacing: 4px;
}
.createScreen h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Montserrat, Helvetica;
    letter-spacing: 7px;
}

.joinText {
    height: 40px;
    letter-spacing: 6px;
    margin-right: 15px;
    padding: 5px;
}

.joinDiv {
    margin-top: 40px;
}

/* -------------------MENU SCREEN------------------ */
.playerRow {
    width: 100%;
    height: auto;
    border-top: 2px solid #9e7bc3;
    padding: 7px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
}
.playerRow:first-child {
    border-top: 2px solid #9e7bc300;
}
.playerRowStart {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.playerRow h4 {
    font-size: 18px;
}

.createButton {
    margin: auto;
    position: relative;
}
.inputNumbers {
    font-family: Montserrat, Helvetica;
    margin: auto;
    text-align: right;
}
.inputNumbers label {
    display: inline-block;
}​

.longform form {
    display: block;
}

.longForm {
    overflow-y:scroll; 
    position:relative;
    height: 400px;
}
.createGameButton {
    width: 80%;
    height: 40px;
    margin-right: 10%;
    margin-top: 15px;
    font-family: Creepster;
}
.soloButton {
    width: 300px;
    background-color: #f4f0f8;
    border: none;
    color: #41295a;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.ghostChoosing {

    width: 60%;
    margin: auto;
    text-align: center;
}
.playerChoosing {
    width: 60%;
    margin: auto;
    text-align: center;
}
.ghostChoosing h4 {
    font-family: Montserrat, Helvetica;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}
.playerChoosing h4:first-child {
    margin-top: 14px;
}
.playerChoosing h4 {
    font-family: Montserrat, Helvetica;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.voteCount {
    margin-top: 10px;
}
.resultContent {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 150px;
}

.resultContent label {
    font-size: 22px;
}

.resultContent h4{
    margin-bottom: 30px;
    font-size: 30px;
}

.guessButton {
    margin-top: 30px;
    width: 30%
}
